
body {

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'lato';
  min-height: 10wh;
  flex-direction: column;
  background-image: url('img/fundo.png');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


p{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;


}

.title {
  font-size: larger;
  color: chocolate;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.info-container {
  height: 220px;
  width: 400px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 20px 20px 20px 20px;
  border: 1px solid chocolate;
  padding: 20px 20px 10px 80px;
  font-size: unset;

}

h1 {
  color: gold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
  color: grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-small;

}

h7 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;

}

h8{
  height: 128px;
  width: 300px;
  overflow:hidden;

  }